<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;900&display=swap" rel="stylesheet">
</head>

<footer>
    <div class="section">
        <div class="column">
            <h3>Sumber</h3>
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Glosarium</a></li>
            </ul>
        </div>

        <div class="column">
            <h3>Hubungi Kami</h3>
            <ul>
                <li><a href="#">Sarankan produk</a></li>
                <li><a href="#">Partnership</a></li>
            </ul>
        </div>

        <div class="column">
            <h3>Specify</h3>
            <ul>
                <li><a href="#">Tentang kami</a></li>
                <li><a href="#">Pedoman editorial</a></li>
            </ul>
        </div>

        <div class="column">
            <h3>Legal</h3>
            <ul>
                <li><a href="#">Tentang Kami</a></li>
                <li><a href="#">Privasi</a></li>
                <li><a href="#">Ketentuan</a></li>
                <li><a href="#">Cookie</a></li>
            </ul>
        </div>
    </div>
</footer>
